<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${appName}" style="color: green">Default app name</h1>
    <hr/>
    <div class="content">
        <div class="row article" th:each="purchase : ${purchases}">

            <div class="col-md-11 description">
                <p class="description-text" th:text="${purchase.text}">Text</p>
            </div>
            <div class="col-md-1">

                <button th:attr="data-purchase-id=${purchase.id}" class="btn btn-sm btn-secondary status-btn" th:text="${purchase.isBought+purchase.status}"></button>

                <button th:id="${purchase.id}" th:attr="data-purchase-id=${purchase.id}" class="btn btn-sm btn-danger delete-btn" th:text="${purchase.id+'X'}"></button>

            </div>
            <div class="col-md-12">
                <hr/>

            </div>
        </div><a href="http://localhost:8000/new" class="btn btn-sm btn-secondary">Добавить покупку</a>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</body>
</html>